$primary-color: #404040;
$secondary-color: #fcb0cb;
$show-home-image: true;
$home-image: url(../img/background1.jpg);
$home-image2: url(../img/cutie2.jpg);
$home-image3: url(../img/babybaby2.jpg);
$home-image4: url(../img/swim.jpg);
$opacityofthebackground: 0.7;

@mixin easeout{
    transition: all 0.5s ease-out;
}
@mixin background {
    @if $show-home-image {
      &#bg-img {
        background: $home-image;
        background-attachment: fixed;
        background-size: cover;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba($primary-color, $opacityofthebackground);
            z-index: -1;
        }
      }
    }
  }
  @mixin background2 {
    @if $show-home-image {
      &#bg-img2 {
        background: $home-image2;
        background-attachment: fixed;
        background-size: cover;
      }
    }
  }

  @mixin background3 {
    @if $show-home-image {
      &#bg-img3 {
        background: $home-image3;
        background-attachment: fixed;
        background-size: cover;

      }
    }
  }

  @mixin background4 {
    @if $show-home-image {
      &#bg-img4 {
        background: $home-image4;
        background-attachment: fixed;
        background-size: cover;
      }
    }
  }

  @function set-text-color($color){
    @if(lightness($color)>40){
        @return #000;
    }
    @else {
        @return white;
  }
}

@mixin mediasm{
    @media screen and(max-width: 500px){
        @content;
    }
}

@mixin mediamd{
    @media screen and(max-width: 768px){
        @content;
    }
}

@mixin medialr{
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediahg{
    @media screen and (min-width: 1171px){
        @content;
    }
}